<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title></title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<header id="topnav">
  <div class="inner">
    <div class="logo" style="width: 100px"><img src="go.png" style="width: 72%"></div>
    <nav role='navigation'>
      <ul>
        <li><a href="index.html">Orders</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="customer.html">Customers</a></li>
        <li><a href="#">Employess</a></li>
        <li><a href="products.html">Products</a></li>
        <li><a href="report.html">Sales Reports</a></li>

      </ul>
    </nav>  
  </div>
</header>
<div style="position: fixed;right: 132px;top: 52%;font-size: 39px;">
	PENDING ORDERS
	<BR><span style="font-size: 139px;color:  green;">{{records.length}}</span>
</div>
<div style="width: 50%;border: 1px solid;margin: 5px;box-shadow: grey 2px 2px 2px;background: #8080801f" ng-repeat="x in records track by $index">
<section style="width: 554px;margin: 28px;">
  <table style="width: 94%;margin-left: 5%;margin-right: 1%;">
    <tr>
      <td><p style="color: orange">ORDER ID <span># {{x.ID}}</span></p></td>  <td style="color: orangered"><i class="fa fa-inr" aria-hidden="true"></i>1000</td>   
    </tr>
    <tr>
      <table style="width: 100%" ng-repeat="item in items[$index]">
        <tr><td style="width: 40%"><p>{{item.item}}</p></td>
        <td style="width: 25%"><span ng-if = "item.weight == 1">500 gms</span><span ng-if = "item.weight == 2">1000 gms</span></td><td style="width: 15%">{{item.qty}}</td><td style="width: 25%"><i class="fa fa-inr" aria-hidden="true"></i>{{item.prize}}</td></tr>
      </table>
    </tr>
    <BUTTON style="    /* float: right; */
    margin-left: 31em !important;
    margin: 13px;
    background: none;
    border: 1px solid orange;
    background: orange;
    padding-left: 36px !important;
    padding: 6px;
    padding-right: 36px !important" ng-click="stschanged(x.ID)">ASSIGN</BUTTON>
  </table>
</section>
<section style="width: 554px;/* border: 1px solid; */margin: 28px;">
  <table style="width: 100%">
        <tr><td style="width: 40%"><p>NAME</p></td>
        <td style="width: 25%">{{x.name}}</td></tr>
        <tr><td style="width: 40%">ADDRESS</td>
        <td style="width: 25%">{{x.address}}</td></tr>
        <tr><td style="width: 40%">SCHEDULE</td>
        <td style="width: 25%">{{x.sedate }} {{x.setime}}</td></tr>
         <tr><td style="width: 40%">PAYMENT</td>
        <td style="width: 25%">{{x.payment}}</td></tr>
        <tr><td style="width: 40%">PINCODE</td>
        <td style="width: 25%">{{x.store}}</td></tr>
         <tr><td style="width: 40%">MOBILE NUMBER</td>
        <td style="width: 25%">{{x.number}}</td></tr>
      </table>
</section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
 <script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
	$scope.items=[];
    $http.get("http://gononveg.com/api/showOrders")
    .then(function(response) {
        $scope.records = response.data;
        for(var i=0;i<$scope.records.length;i++){
        	$scope.items[i]=JSON.parse($scope.records[i].items);
        }
        console.log($scope.items);
        console.log($scope.records);
    });
    $scope.stschanged = function(id){
    	 $http.post("http://gononveg.com/api/stschage?id="+id,)
    .then(function(response) {
        
        
	$scope.items=[];
    $http.get("http://gononveg.com/api/showOrders")
    .then(function(response) {
        $scope.records = response.data;
        for(var i=0;i<$scope.records.length;i++){
        	$scope.items[i]=JSON.parse($scope.records[i].items);
        }
        console.log($scope.items);
        console.log($scope.records);
    });
    });
    }

});

</script>



</body>
</html>
