
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title></title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<header id="topnav">
  <div class="inner">
    <div class="logo" style="width: 100px"><img src="go.png" style="width: 72%"></div>
    <nav role='navigation'>
      <ul>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Customers</a></li>
        <li><a href="#">Employess</a></li>
        <li><a href="#">IDUS Payments</a></li>
        <li><a href="#">Sales Reports</a></li>

      </ul>
    </nav>  
  </div>
</header>

<div style="width: 50%;float: right;" style="float: left;">
<section style="width: 554px;/* border: 1px solid; */margin: 28px;box-shadow: grey 2px 2px 2px;">
  <form ng-model="data">
    <input type="text" name="pincode" id="pincode" style="margin: 2%; width: 96%; border: 2px solid green; border-radius: 15px; padding: 1%" placeholder="Enter Store Pincode">
    <input type="text" name="name" style="margin: 2%; width: 96%; border: 2px solid green; border-radius: 15px; padding: 1%"  placeholder="Enter Store Category">
    <input type="file" name="imageupload" id="imageupload" style="margin: 2%; width: 96%; border-radius: 15px; padding: 1%" file-model = "myFile">
    <input type="button" name="" style="margin: 2%; width: 96%; color: white; text-transform: uppercase; background: green; border: 2px solid green; border-radius: 15px; padding: 1%" ng-click="updatepin()">
  </form>
</section>
</div>
<div style="width: 50%" style="float: left;">
  <input type="submit" name="" style="margin: 2%; width: 96%; color: white; text-transform: uppercase; background: green; border: 2px solid green; border-radius: 15px; padding: 1%" value="RESET SLOTS" onclick="updatepin()">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<script type="text/javascript">
    var app = angular.module('myApp', []);
       app.directive('fileModel', ['$parse', function ($parse) {
            return {
               restrict: 'A',
               link: function(scope, element, attrs) {
                  var model = $parse(attrs.fileModel);
                  var modelSetter = model.assign;
                  
                  element.bind('change', function(){
                     scope.$apply(function(){
                        modelSetter(scope, element[0].files[0]);
                     });
                  });
               }
            };
         }]);
      
app.controller('myCtrl', function($scope, $http ) {
        $scope.updatepin = function(){
        	var selectedFile = document.getElementById('imageupload').files[0];
  $http.post("http://gononveg.com/api/uploadfile?image="+selectedFile)
    .then(function(response) {
        $scope.records1 = response.data;
        for(var i=0;i<$scope.records.length;i++){
          $scope.items[i]=JSON.parse($scope.records1.items);
        }
        console.log($scope.records1);
    });
}
});
</script>
</body>
</html>
